<!DOCTYPE html>
<html>
<head>
    <title>Check Moderation Score</title>
</head>
<body>
    <h1>Text Input</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Enter text here", autocomplete="off">
        <button type="submit">Submit Text</button>
    </form>

    <h1>Image Input</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*", autocomplete="off">
        <button type="submit">Submit Image</button>
    </form>
</body>
</html>
